<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title">Manage Roles</h4>
                        <button class="btn btn-primary btn-round mat-raised-button pull-right" data-toggle="modal"
                            data-target="#modal-add" style="margin-top:-30px" mat-raised-button><span
                                class="mat-button-wrapper">Create</span>
                            <div class="mat-button-ripple mat-ripple" matripple></div>
                            <div class="mat-button-focus-overlay"></div>
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th class="text-center">Role Name</th>
                                        <!-- <th class="text-right">Action</th> -->
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr *ngFor='let role of roles; let i=index'>
                                        <td class="text-center">{{ i+1 }}</td>
                                        <td class="text-center">{{role.name}}</td>
                                        <!-- <td class="td-actions text-right">
                                            <button mat-raised-button type="button" (click)="confirmUpdate(role)"
                                                data-toggle="modal" data-target="#modal-edit"
                                                class="btn btn-success btn-link">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" (click)="confirmDelete(role._id)"
                                                data-toggle="modal" data-target="#modal-delete"
                                                class="btn btn-danger btn-link">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-add" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Create role</h4>
                    <button #btnModalAddClose type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <form>
                    <div class="modal-body">
                        <div class="row form-type-round">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Role Name</label>
                                    <input [(ngModel)]="role.name" name="name" type="text" class="form-control" id="name">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-bold btn-pure btn-secondary"
                            data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-bold btn-pure btn-primary" (click)='createRole()'>Save
                            changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-edit" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Edit Role</h4>
                    <button #btnModalEditClose type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row form-type-round">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="roleName">Role Name</label>
                                <input [(ngModel)]="role.name" type="text"  name="roleName" class="form-control" id="roleName">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-bold btn-pure btn-secondary"
                        data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-bold btn-pure btn-primary" (click)="updateRole()">Save
                        changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-delete" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Delete Role</h4>
                    <button #btnModalDeleteClose type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row form-type-round">
                        Are you sure you want to delete this Role?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-bold btn-pure btn-secondary"
                            data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-bold btn-pure btn-primary"
                            (click)="deleteRole()">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>