<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Curent Online Drivers</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Driver Name</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let driver of drivers; let i = index">
                    <th>{{ i+1 }}</th>
                    <th>{{driver.firstName}} {{driver.lastName}}</th>
                    <th><span class="badge" [ngClass]="{'badge-success':driver.status == 'online',
                                'badge-warning':driver.status == 'offline','badge-danger':driver.status=='onride'}">
                        {{driver.status}}</span></th>
                  </tr>

                  <!-- <tr>
                                <th>1</th>
                               <th>Maryam Amiri</th>
                               <th><span class="badge badge-warning">Offline</span></th>
                             </tr>
                             <tr>
                                <th>1</th>
                               <th>Maryam Amiri</th>
                               <th><span class="badge badge-success">Online</span></th>
                             </tr>
                             <tr>
                                <th>1</th>
                               <th>Maryam Amiri</th>
                               <th><span class="badge badge-danger">OnRide</span></th>
                             </tr>
                             <tr>
                                <th>1</th>
                               <th>Maryam Amiri</th>
                               <th><span class="badge badge-success">Online</span></th>
                             </tr> -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">All Rides</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Customer Name</th>
                    <th>From / Destination Place</th>
                    <th>From Time</th>
                    <th>End Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ride of rides; let i=index;">
                    <td> {{i+1}} </td>
                    <td>{{ride.customer}}</td>
                    <td>{{ride.startPoint}} / {{ride.endPoint}}</td>
                    <td>{{ride.startTime}}</td>
                    <td>{{ride.endTime}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Planned Rides for Today</h4>
            <button data-toggle="modal" data-target="#modal-createPlannedRide"
              class="btn btn-primary btn-round mat-raised-button pull-right" style="margin-top:-30px"
              mat-raised-button><span class="mat-button-wrapper">Create</span>
              <div class="mat-button-ripple mat-ripple" matripple></div>
              <div class="mat-button-focus-overlay"></div>
            </button>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Customer Name</th>
                    <th>From / Destination Place</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let planRide of todayPlannedRides; let i=index">
                    <td>{{i + 1}}</td>
                    <td>{{planRide.customer}}</td>
                    <td>{{planRide.startPoint}} / {{planRide.endPoint}}</td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Planned Today Shift</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Driver Name</th>
                    <th>Car No</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let plannedShift of todayPlannedShifts; let i=index">
                    <td>{{i + 1}}</td>
                    <td>{{plannedShift.driver.firstName}}</td>
                    <td>{{plannedShift.car.carNumber}}</td>
                    <td class="badge" [ngClass]="{'badge-success':plannedShift.driver.status == 'online',
                    'badge-warning':plannedShift.driver.status == 'offline','badge-danger':plannedShift.driver.status=='onride'}">
                    {{plannedShift.driver.status}}</td>
                  </tr>

                  <!-- <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>DHQ-986</td>
                    <td>Offline</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>DHQ-986</td>
                    <td>Offline</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>DHQ-986</td>
                    <td>Offline</td>
                  </tr> -->
                </tbody>
                <tfoot>
                  <td>
                    <button data-toggle="modal" data-target="#modal-createPlannedShift"
                      class="btn btn-w-md btn-round btn-primary"><i class="ti-plus"></i> &nbsp; Shift</button>
                  </td>
                  <!-- <td>
                    <button class="btn btn-w-md btn-round btn-danger"><i class="ti-trash"></i> &nbsp; delete </button>
                  </td> -->
                  <td></td>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-createPlannedRide" tabindex="-1" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Create plan ride for today</h4>
        <button #btnModalcreatePlannedRide type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row form-type-round">

          <div class="col-md-12">
            <!-- <form class="form-group example-form">
                    <label for="carNo">Car No.</label>
                    <mat-form-field class="example-full-width">
                      <input type="text"  id="carNo"  matInput [formControl]="myControl" [matAutocomplete]="auto">
                      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let car of filteredCars | async" [value]="car">
                          {{car.carNumber}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </form> -->
            <div class="form-group">
              <label for="input-normal">Customer Name</label>
              <input type="text" class="form-control" id="input-normal" [(ngModel)]="ride.customer" />
            </div>
          </div>

          <div class="col-md-6">

            <div class="form-group">
              <label for="input-normal">From</label>
              <input type="text" class="form-control" id="input-normal" [(ngModel)]="ride.startPoint" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="input-normal">Destination</label>
              <input type="text" class="form-control" id="input-normal" [(ngModel)]="ride.endPoint" />
            </div>

          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-bold btn-pure btn-primary" (click)="createTodaysPlannedRide()">Save
          changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-createPlannedShift" tabindex="-1" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Create plan shift for today</h4>
        <button #btnModalcreatePlannedShift type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row form-type-round">
          <div class="col-md-6">

            <form class="form-group example-form">
              <label for="driver1">Driver</label>
              <mat-form-field class="example-full-width">
                <input type="text" id="driver1" matInput [formControl]="driverControl" [matAutocomplete]="autoDriver">
                <mat-autocomplete #autoDriver="matAutocomplete" [displayWith]="driverDisplayFn">
                  <mat-option *ngFor="let driver of filteredDrivers | async" [value]="driver">
                    {{driver.firstName}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </form>
          </div>
          <div class="col-md-6">
            <form class="form-group example-form">
              <label for="carNo">Car No.</label>
              <mat-form-field class="example-full-width">
                <input type="text" id="carNo" matInput [formControl]="myControl" [matAutocomplete]="autoCar">
                <mat-autocomplete #autoCar="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let car of filteredCars | async" [value]="car">
                    {{car.carNumber}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </form>

          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-bold btn-pure btn-primary" (click)="createTodayPlanShift()">Save
          changes</button>
      </div>
    </div>
  </div>
</div>