<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
            <div class="card">
              <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">assignment</i>
                </div>
                <h4 class="card-title">Curent Online Drivers</h4>
              </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Driver Name</th>
                                <th>Status</th>
                              </tr>
                            </thead>
                            <tbody>
                             <tr>
                                <th>1</th>
                               <th>Maryam Amiri</th>
                               <th><span class="badge badge-success">Online</span></th>
                             </tr>
                             
                             <tr>
                                <th>1</th>
                               <th>Maryam Amiri</th>
                               <th><span class="badge badge-warning">Offline</span></th>
                             </tr>
                             <tr>
                                <th>1</th>
                               <th>Maryam Amiri</th>
                               <th><span class="badge badge-success">Online</span></th>
                             </tr>
                             <tr>
                                <th>1</th>
                               <th>Maryam Amiri</th>
                               <th><span class="badge badge-danger">OnRide</span></th>
                             </tr>
                             <tr>
                                <th>1</th>
                               <th>Maryam Amiri</th>
                               <th><span class="badge badge-success">Online</span></th>
                             </tr>
                            </tbody>
                          </table>  
    </div>
  </div>
   </div>
   </div>

   <div class="col-md-8">
    <div class="card">
      <div class="card-header card-header-rose card-header-icon">
        <div class="card-icon">
          <i class="material-icons">assignment</i>
        </div>
        <h4 class="card-title">All Rides</h4>
      </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Customer Name</th>
                        <th>From / Destination Place</th>
                        <th>From Time</th>
                        <th>End Time</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr >
                        <th >1</th>
                        <td>Mark</td>
                        <td>Lahore / Karachi</td>
                        <td>3/10/2019 1:59 AM</td>
                        <td>3/10/2019 2:30 AM</td>
                      </tr>
                    <tr >
                        <th >1</th>
                        <td>Mark</td>
                        <td>Lahore / Karachi</td>
                        <td>3/10/2019 1:59 AM</td>
                        <td>3/10/2019 2:30 AM</td>
                      </tr>
                      <tr >
                          <th >1</th>
                          <td>Mark</td>
                          <td>Lahore / Karachi</td>
                          <td>3/10/2019 1:59 AM</td>
                          <td>3/10/2019 2:30 AM</td>
                        </tr>
                        <tr >
                            <th >1</th>
                            <td>Mark</td>
                            <td>Lahore / Karachi</td>
                            <td>3/10/2019 1:59 AM</td>
                            <td>3/10/2019 2:30 AM</td>
                          </tr>
                           <tr >
                        <th >1</th>
                        <td>Mark</td>
                        <td>Lahore / Karachi</td>
                        <td>3/10/2019 1:59 AM</td>
                        <td>3/10/2019 2:30 AM</td>
                      </tr>
                      
                    </tbody>
                  </table>
</div>
</div>
</div>
</div>

<div class="col-md-6">
  <div class="card">
    <div class="card-header card-header-rose card-header-icon">
      <div class="card-icon">
        <i class="material-icons">assignment</i>
      </div>
      <h4 class="card-title">Planned Rides for Today</h4>
      <button class="btn btn-primary btn-round mat-raised-button pull-right"   style="margin-top:-30px" mat-raised-button><span class="mat-button-wrapper">Create</span><div class="mat-button-ripple mat-ripple" matripple></div><div class="mat-button-focus-overlay"></div></button>
    </div>
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Customer Name</th>
                      <th>From / Destination Place</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr >
                      <th >1</th>
                      <td>Mark</td>
                      <td>Lahore / Karachi</td>
                    </tr>
                    <tr >
                        <th >1</th>
                        <td>Mark</td>
                        <td>Lahore / Karachi</td>
                      </tr>
                      <tr >
                          <th >1</th>
                          <td>Mark</td>
                          <td>Lahore / Karachi</td>
                        </tr>
                        <tr >
                            <th >1</th>
                            <td>Mark</td>
                            <td>Lahore / Karachi</td>
                          </tr>
                    
                  </tbody>
                </table>
</div>
</div>
</div>
</div>

<div class="col-md-6">
  <div class="card">
    <div class="card-header card-header-rose card-header-icon">
      <div class="card-icon">
        <i class="material-icons">assignment</i>
      </div>
      <h4 class="card-title">Planned Today Shift</h4>
    </div>
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Driver Name</th>
                      <th>Car No</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr >
                      <td>1</td>
                      <td>Mark</td>
                      <td>DHQ-986</td>
                      <td>Online</td>
                    </tr>
                    <tr >
                      <td>1</td>
                        <td>Mark</td>
                        <td>DHQ-986</td>
                        <td>Offline</td>
                      </tr>
                      <tr >
                          <td>1</td>
                            <td>Mark</td>
                            <td>DHQ-986</td>
                            <td>Offline</td>
                          </tr>
                          <tr >
                              <td>1</td>
                                <td>Mark</td>
                                <td>DHQ-986</td>
                                <td>Offline</td>
                              </tr>
                  </tbody>
                  <tfoot>
                    <td>
                        <button class="btn btn-w-md btn-round btn-primary" ><i class="ti-plus"></i> &nbsp;  Shift</button>
                    </td>
                    <td>
                        <button class="btn btn-w-md btn-round btn-danger"><i class="ti-trash"></i> &nbsp;  delete </button>
                    </td>
                    <td></td>
                  </tfoot>
                </table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

