<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-text">
            <h4 class="card-title">Create Ride</h4>
            </div>
          </div>
          <div class="card-body ">
              <div class="card-body form-type-round">
                  <div class="row">
    
    
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="From" type="text">
                          </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Destination" type="text">
                          </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Start Time" type="text">
                          </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="End Time" type="text">
                          </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="No. of Passengers" type="text">
                          </mat-form-field>
                    </div>
                  </div>
                    <div class="row" style="margin:34px">
                      <label style="padding-top:15px"><strong>Wheel Chair</strong></label>
                    <div class="col-md-1 pull-right">
                        <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" value=""> Yes
                              <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                    </div>
                          <div class="col-md-1 pull-left" style="padding-left:0px">
                          <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value=""> No
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                            </div>

                            <label style="padding-top:15px">What Kind of Ride:</label>
                            <div class="col-md-1 pull-left">
                                <div class="form-check">
                                    <label class="form-check-label">
                                      <input class="form-check-input" type="checkbox" value=""> Normal
                                      <span class="form-check-sign">
                                        <span class="check"></span>
                                      </span>
                                    </label>
                                  </div>
                                  </div>
                                  <div class="col-md-1 pull-left" style="padding-left:0px">
                                      <div class="form-check">
                                          <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value=""> Medical
                                            <span class="form-check-sign">
                                              <span class="check"></span>
                                            </span>
                                          </label>
                                        </div>
                                  </div>
                                        <div class="col-md-1 pull-left" style="padding-left:0px">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                  <input class="form-check-input" type="checkbox" value=""> School
                                                  <span class="form-check-sign">
                                                    <span class="check"></span>
                                                  </span>
                                                </label>
                                              </div>

                    </div>
                   
                
    
                  
    
                  </div>


                  <div class="row" style="margin:22px">
                      <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                              <input matInput placeholder="No. of Passengers" type="text">
                            </mat-form-field>
                      </div>
                      <label style="padding-top:15px"><strong>Payment Method</strong></label>
                      <div class="col-md-1 pull-right">
                          <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value=""> Cash
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                      </div>
                            <div class="col-md-1 pull-left" style="padding-left:0px">
                            <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" value=""> Card
                                  <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                              </div>
                  </div>

                  <div class="row" style="margin:22px">
                  <div class="col-md-12">
                      <mat-form-field class="example-full-width">
                          <input matInput placeholder="Note" type="text">
                        </mat-form-field>
                  </div>
                  </div>
    
                  <div class="row">
                    <div class="col-md-11 pull-right" style="padding-right:40px">
                        <button class="btn btn-w-md btn-round btn-warning" style="float:right">Export Excel</button>
                    </div>
                    
                    <div class="col-md-1 pull-right">
                        <button class="btn btn-w-md btn-round btn-primary" style="float:right">Let's Go</button>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
