<div class="main-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-5">
              <div class="card ">
                <div class="card-header card-header-rose card-header-icon">
                        <div class="card-text">
                                <h4 class="card-title">Current Online Driver</h4>
                                </div>
                </div>
                <div class="card-body ">
                        <form class="card">
                                <h4 class="card-title fw-400"></h4>
                          
                                <div class="card-body">
                                  <div class="flexbox gap-items-4">
                                    <div class="flex-grow">
                                      <h5>My Status</h5>
                                      <div class="d-flex flex-column flex-sm-row gap-items-2 gap-y mt-16">
                                        <div class="file-group file-group-inline">
                                          <button class="btn btn-sm btn-w-lg btn-outline  btn-round btn-screen" type="button">On a ride</button>
                                        </div>
                          
                                        <a class="btn btn-sm btn-w-lg btn-outline btn-round btn-screen" href="#">Ready for Ride</a>
                                      </div>
                                    </div>
                                  </div>
                                  <hr>
                                </div>
                                <div class="media" style="margin-top:51px">
                                    <div class="media-body">
                                      <p><strong>Maryam Amiri</strong></p>
                                    </div>
                          
                                    <span class="badge badge-danger">On Ride</span>  
                                     <hr>
                                  </div>
                                
                                  <div class="media">
                                      <div class="media-body">
                                        <p><strong>Maryam Amiri</strong></p>
                                      </div>
                                      <span class="badge badge-danger">Start Ride</span>    
                                       <hr>
                                    </div>
                              </form>
                </div>
             </div>
         </div>

         <div class="col-md-7">
                <div class="card ">
                  <div class="card-header card-header-rose card-header-icon">
                        <div class="card-text">
                    <h4 class="card-title">My Last Rides</h4>
                    </div>
                  </div>
                  <div class="card-body ">

                        <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th>#</th>
                                    <th>Customer Name</th>
                                    <th>From / Destination Place</th>
                                    <th>From Time</th>
                                    <th>End Time</th>
                                  </tr>
                                </thead>
                                <tbody>
                                <tr >
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Lahore / Karachi</td>
                                    <td>3/10/2019 1:59 AM</td>
                                    <td>3/10/2019 2:30 AM</td>
                                  </tr>
                                  <tr >
                                      <th scope="row">1</th>
                                      <td>Mark</td>
                                      <td>Lahore / Karachi</td>
                                      <td>3/10/2019 1:59 AM</td>
                                      <td>3/10/2019 2:30 AM</td>
                                    </tr>
                                    <tr >
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Lahore / Karachi</td>
                                        <td>3/10/2019 1:59 AM</td>
                                        <td>3/10/2019 2:30 AM</td>
                                      </tr>
                                       <tr >
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Lahore / Karachi</td>
                                    <td>3/10/2019 1:59 AM</td>
                                    <td>3/10/2019 2:30 AM</td>
                                  </tr>
                                  
                                </tbody>
                              </table>
                  </div>
               </div>
           </div>

           <div class="col-md-8">
                <div class="card ">
                  <div class="card-header card-header-rose card-header-icon">
                        <div class="card-text">
                                <h4 class="card-title">Create Ride</h4>
                                </div>
                  </div>
                  <div class="card-body ">
                        <div class="row">
  
  
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="input-normal">From</label>
                                    <input type="text" class="form-control" id="input-normal" >
                                  </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Start Time</label>
                                  <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for...">
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="input-normal">Destination</label>
                                    <input type="text" class="form-control" id="input-normal" >
                                  </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="input-normal">Customer</label>
                                      <input type="text" class="form-control" id="input-normal" >
                                    </div>
                                  </div>
                                  <div class="col-md-2">
                                      <button class="btn btn-w-md btn-round btn-warning">Edit Details </button>
                                  </div>
                                  <div class="col-md-3">
                                      <button class="btn btn-w-md btn-round btn-primary"> New Ride</button>
                                  </div>
                                  
                              </div>
                  </div>
               </div>
           </div>

           <div class="col-md-4">
                <div class="card ">
                  <div class="card-header card-header-rose card-header-icon">
                        <div class="card-text">
                                <h4 class="card-title">Detail</h4>
                                </div>
                  </div>
                  <div class="card-body ">
                        <div class="col-md-12 col-lg-12">
                                <div class="card card-body text-center py-50">
                                  <h5 class="mt-3 mb-1"><a class="hover-primary" href="#">Current Time: 2:39</a></h5>
                                  <h5 class="mt-3 mb-1"><a class="hover-primary" href="#">How much Rides I did Till now:7</a></h5>
                                  <h5 class="mt-3 mb-1"><a class="hover-primary" href="#">How much money got from the rides: 2000</a></h5>
                                </div>
                              </div>
                  </div>
               </div>
           </div>
     </div>
</div>
</div>
                    