<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div class="card ">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-text">
              <h4 class="card-title">Current Online Driver</h4>
            </div>
          </div>
          <div class="card-body ">
            <form class="card">
              <h4 class="card-title fw-400"></h4>

              <div class="card-body">
                <div class="flexbox gap-items-4">
                  <div class="flex-grow">
                    <h5>My Status</h5>
                    <div class="d-flex flex-column flex-sm-row gap-items-2 gap-y mt-16">
                      <div class="file-group file-group-inline">
                        <button class="btn btn-sm btn-w-lg btn-outline  btn-round btn-screen" type="button">On a
                          ride</button>
                      </div>

                      <a class="btn btn-sm btn-w-lg btn-outline btn-round btn-screen" [routerLink]="">Ready for Ride</a>
                    </div>
                  </div>
                </div>
                <hr>
              </div>
              <div class="media col-md-12" style="margin-top:30px">
                <div class="media-body">
                  <p><strong>{{user.firstName}} {{user.lastName}}</strong></p>
                </div>

                <span class="badge" [ngClass]="{'badge-success':user.status == 'online',
                                    'badge-warning':user.status == 'offline',
                                    'badge-danger':user.status=='onride'}">{{user.status}}
                </span>
                <hr>
              </div>
              <!--                                 
                                  <div class="media">
                                      <div class="media-body">
                                        <p><strong>Maryam Amiri</strong></p>
                                      </div>
                                      <span class="badge badge-danger">Start Ride</span>    
                                       <hr>
                                    </div> -->
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-7">
        <div class="card ">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-text">
              <h4 class="card-title">My Last Rides</h4>
            </div>
          </div>
          <div class="card-body ">

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Customer Name</th>
                  <th>From / Destination Place</th>
                  <th>From Time</th>
                  <th>End Time</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ride of myLastRides; let i=index;">
                  <td> {{i+1}} </td>
                  <td>{{ride.customer}}</td>
                  <td>{{ride.startPoint}} / {{ride.endPoint}}</td>
                  <td>{{ride.startTime}}</td>
                  <td>{{ride.endTime}}</td>
                  <td class="td-actions text-right">
                    <button *ngIf="i==0" mat-raised-button type="button" (click)="confirmUpdate(ride)" data-toggle="modal"
                      data-target="#modal-updateride" class="btn btn-success btn-link">
                      <i class="material-icons">edit</i>
                    </button> 
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- <div class="col-md-8">
                <div class="card ">
                  <div class="card-header card-header-rose card-header-icon">
                        <div class="card-text">
                                <h4 class="card-title">Create Ride</h4>
                                </div>
                  </div>
                  <div class="card-body ">
                        <div class="row">
  
  
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="input-normal">From</label>
                                    <input type="text" class="form-control" id="input-normal" >
                                  </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Start Time</label>
                                  <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for...">
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="input-normal">Destination</label>
                                    <input type="text" class="form-control" id="input-normal" >
                                  </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="input-normal">Customer</label>
                                      <input type="text" class="form-control" id="input-normal" >
                                    </div>
                                  </div>
                                  <div class="col-md-2">
                                      <button class="btn btn-w-md btn-round btn-warning">Edit Details </button>
                                  </div>
                                  <div class="col-md-3">
                                      <button class="btn btn-w-md btn-round btn-primary"> New Ride</button>
                                  </div>
                                  
                              </div>
                  </div>
               </div>
           </div> -->

      <div class="col-md-8">
        <div class="card ">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-text">
              <h4 class="card-title">Detail</h4>
            </div>
          </div>
          <div class="card-body ">
            <div class="col-md-12 col-lg-12">
              <div class="card card-body text-center py-50">
                <h5 class="mt-3 mb-1"><a class="hover-primary" [routerLink]="">Current Time:
                    {{ today | date:'shortTime' }}</a></h5>
                <h5 class="mt-3 mb-1"><a class="hover-primary" [routerLink]="">How much Rides I did Till
                    now:{{myLastRides?myLastRides.length:0}}</a></h5>
                <h5 class="mt-3 mb-1"><a class="hover-primary" [routerLink]="">
                  How much money got from the rides:
                    {{moneyEarned}}</a></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-updateride" tabindex="-1" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div style="width:720px;" class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Update Ride</h4>
        <button #btnCloseUpdateride type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row form-type-round">
          <div class="row"> 
            <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <input [(ngModel)]="ride.startPoint" name="startPoint" matInput placeholder="From" type="text">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <input [(ngModel)]="ride.endPoint" name="endPoint" matInput placeholder="Destination" type="text">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <input type="time" [(ngModel)]="ride.startTime" name="startTime" matInput
                  placeholder="Start Time">
              </mat-form-field>

            </div>
            <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <input type="time" [(ngModel)]="ride.endTime" name="endTime" matInput placeholder="End Time">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <input type="number" [(ngModel)]="ride.totalPassengers" name="totalPassengers" matInput
                  placeholder="No. of Passengers">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <input type="number" [(ngModel)]="ride.amount" name="amount" matInput placeholder="Amount">
              </mat-form-field>
            </div>
          </div>
          <!-- <div class="row" style="padding-top:15px">

            <div class="col-md-4">
              <label style="padding-right: 37px;"><strong>Wheel Chair:</strong></label>
              <mat-radio-group aria-label="Select an option" [(ngModel)]="ride.wheelChair"
                class="example-full-width">
                <mat-radio-button *ngFor="let chair of wheelChairs; let i=index;"
                  [ngStyle]="{'padding-right': i == 0 ? '12px':''}" [value]="chair.id">{{chair.label}}
                </mat-radio-button> 
              </mat-radio-group> 
            </div> 

            <div class="col-md-6">
              <label style="padding-right: 10px;"><strong>What Kind of Ride:</strong></label>
              <mat-radio-group aria-label="Select an option" [(ngModel)]="ride.rideType" class="example-full-width">
                <mat-radio-button *ngFor="let type of rideTypes; let i=index;" [value]="type.id">{{type.label}}
                </mat-radio-button>
              </mat-radio-group>
            </div> 
          </div>  -->
          
          <div class="row" style="padding-top:15px">
             <!-- <div class="col-md-4">
             <label style="padding-right: 10px; padding-top:15px"><strong>Payment Method</strong></label>
              <mat-radio-group aria-label="Select an option" [(ngModel)]="ride.paymentMethod"
                class="example-full-width">
                <mat-radio-button *ngFor="let method of paymentMethods; let i=index;" [value]="method.id">
                  {{method.label}}</mat-radio-button>
              </mat-radio-group>

            </div> -->
            <!-- <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <input type="number" [(ngModel)]="ride.amount" name="amount" matInput placeholder="Amount">
              </mat-form-field>
            </div> -->
            <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <input type="text" [(ngModel)]="ride.customer" name="customer" matInput placeholder="Customer">
              </mat-form-field>
            </div> 
            <div class="col-md-8">
              <mat-form-field class="example-full-width">
                <input type="text" matInput [(ngModel)]="ride.note" name="note" placeholder="Note">
              </mat-form-field>
            </div>
          </div>

          <!-- <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input type="text" matInput [(ngModel)]="ride.note" name="note" placeholder="Note">
              </mat-form-field>
            </div>
          </div> -->

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-bold btn-pure btn-primary" (click)="updateRide()">Save
          changes</button>
      </div>
    </div>
  </div>
</div>