<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">assignment</i>
                </div>
                <h4 class="card-title">Change Password</h4>
              </div>
                <div class="card-body">
                    <div class="card-body form-type-round">
                        <div class="row">
          
          
                          <div class="col-md-4">
                              <form class="form-group example-form">
                                  <label for="carNo">Car No.</label>
                                  <mat-form-field class="example-full-width">
                                    <input type="text"  id="carNo"  matInput [formControl]="myControl" [matAutocomplete]="auto">
                                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                      <mat-option *ngFor="let car of filteredCars | async" [value]="car">
                                        {{car.carNumber}}
                                      </mat-option>
                                    </mat-autocomplete>
                                  </mat-form-field>
                                </form>
                          </div>
                            <!-- <div class="form-group">
                              <label for="input-normal">Car No.</label>
                              <input type="text" class="form-control" id="input-normal" >
                            </div> --> 
                          
                          <div class="col-md-4">
                              <div class="form-group">
                                <label for="input-normal">New Password</label>
                                <input type="password" [(ngModel)]="car.password" class="form-control" id="input-normal" >
                              </div>
                            </div>
          
                        </div>
          
                        <div class="row">
                          <div class="col-md-12">
                              <button (click)="changePassword()" class="btn btn-w-md btn-round btn-primary">Save</button>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                </div>
                </div>
  </div>
</div>
