<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">All Rides</h4>
            <button (click)="exportAsXLSXOfDay()" class="btn btn-warning btn-round mat-raised-button pull-right" style="margin-top:-30px"
              mat-raised-button><span class="mat-button-wrapper">
                Excel of Today</span>
              <div class="mat-button-ripple mat-ripple" matripple></div>
              <div class="mat-button-focus-overlay"></div>
            </button>
            <button (click)="exportAsXLSXOfWeek()" class="btn btn-warning btn-round mat-raised-button pull-right" style="margin-top:-30px"
              mat-raised-button><span class="mat-button-wrapper">
                Excel of this week</span>
              <div class="mat-button-ripple mat-ripple" matripple></div>
              <div class="mat-button-focus-overlay"></div>
            </button>
            <button (click)="exportAsXLSXOfMonth()" class="btn btn-warning btn-round mat-raised-button pull-right" style="margin-top:-30px"
              mat-raised-button><span class="mat-button-wrapper">
                Excel of this month</span>
              <div class="mat-button-ripple mat-ripple" matripple></div>
              <div class="mat-button-focus-overlay"></div>
            </button>
          </div>
          <div class="card-body">
            <div class="table-responsive">


              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Customer Name</th>
                    <th>From / Destination Place</th>
                    <th>From Time</th>
                    <th>End Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ride of rides; let i=index;">
                    <td> {{i+1}} </td>
                    <td>{{ride.customer}}</td>
                    <td>{{ride.startPoint}} / {{ride.endPoint}}</td>
                    <td>{{ride.startTime}}</td>
                    <td>{{ride.endTime}}</td>
                  </tr>


                </tbody>
              </table>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>